.container {
  margin-top: 2.125rem;
  margin-inline: auto;
  --max-width: 375px;

  width: min(var(--max-width), 100% - 1.5rem * 2);
}

@media (width >= 80em) {
  .container {
    --max-width: 627px;
  }
}